# Database
DATABASE_URL=postgresql://postgresql:postgresql@localhost:5432/next-template
BETTER_AUTH_SECRET= #Generate Your secret key using `openssl rand -base64 32`
BETTER_AUTH_URL=http://localhost:3000
